target/ 
.idea/ 
*.iml 
.vscode/ 
.settings/ 
.classpath 
.project 
logs/ 
*.log

application-prod.properties
.ds_store
.thumbs_db
# Application-specific
application-dev.properties
application-local.properties
*.class
